h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", "Inter Fallback", var(--pico-font-family);
  font-weight: 700;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
}
pre {
  margin-top: calc(var(--pico-spacing) / 2);
}
.ignore {
  display: none;
}
@media screen and (max-width: 575px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 360px) {
  h1 {
    font-size: 2rem;
  }
}
